.rsssl-soc-native-buttons {
    height: 30px;
    display: flex;
    align-items: center;
}

.rsssl-soc-native-item {
    display: flex;
    margin-right: 35px;
    justify-content: center;
    text-align: center;
}

.rsssl-soc-native-item a {
    text-decoration: none;
}

.rsssl-soc-share-count {
    display: inline-block;
    font-size: 15px;
    float: right;
    margin-top: 2px;
    margin-left: 6px;
}

.fb_iframe_widget {
    margin-bottom: 17px;
}

/*Just force Google to be inline with rest of buttons*/

#___plus_0 {
    display: -webkit-box !important;
    margin-bottom: 5px !important;
}

#___plus_1 {
    display: -webkit-box !important;
    margin-bottom: 5px !important;
}

.icon-whatsapp{
    color: #00E676;
    font-size: 0.9em;
}