.rsssl-soc-native-buttons {
    height: 30px;
    display: flex;
    align-items: center;
}

.rsssl-soc-native-item {
    display: flex;
    margin-right: 35px;
    justify-content: center;
    text-align: center;
}

.rsssl-soc-native-item a {
    text-decoration: none;
}

.rsssl-soc-share-count {
    display: inline-block;
    font-size: 15px;
    float: right;
    margin-top: 2px;
    margin-left: 6px;
}

.fb_iframe_widget {
    margin-bottom: 17px;
}

/*Lets style our own WhatsApp button, because doesn't have one*/
.native-wa {
    height: 22px;
    width: 60px;
    background-color: #25D366;
    border-radius: 6px;
}

.native-wa:hover {
    opacity: 0.8;
}

.icon-whatsapp{
    color: #ffffff;
    font-size: 0.9em;
    margin-top: -5px;
}

.rsssl_likes_shares {
    font-weight: 500;
    position: absolute;
    margin-left: 35px;
    color: #444444;
    margin-top: 8px;
}
/*Just force Google to be inline with rest of buttons*/

#___plus_0 {
    display: -webkit-box !important;
    margin-bottom: 5px !important;
}

#___plus_1 {
    display: -webkit-box !important;
    margin-bottom: 5px !important;
}