.rsssl_soc{
  margin:15px 0;
}

.rsssl_soc a.post-share {
    display: block;
    width: 55px;
    height: 55px;
    float: left;
    background: #3e599a no-repeat 0 0;
    text-decoration:none;
    font: 15px/46px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #ffffff;
}

.rsssl_left {
  position: fixed;
  left: 0;
  top: 10%;
  height: 500px;
  width: 60px;
  z-index: 1000;
}
.rsssl_soc a.post-share.facebook {
    background: #3e599a no-repeat;
}

.rsssl_soc a.post-share.twitter {
    background: #4b8cbe no-repeat;
}

.rsssl_soc a.post-share.linkedin {
    background: #007bb5 no-repeat;
}

.rsssl_soc a.post-share.gplus {
    background: #b8382e no-repeat;
}

.rsssl_soc a.post-share.stumble {
    background: #e15131 no-repeat;
}

.rsssl_soc a.post-share.pinterest {
    background: #BD081C no-repeat;
}

.rsssl_soc i.icon-facebook {
    font-size: 1.6em;
    margin-left: 11px;
}
.rsssl_soc i.icon-twitter {
    font-size: 1.6em;
    margin-left: 11px;
}
.rsssl_soc i.icon-google {
    font-size: 1.6em;
    margin-left: 11px;
}
.rsssl_soc i.icon-stumbleupon {
    font-size: 1.6em;
    margin-left: 11px;
}
.rsssl_soc i.icon-pinterest {
    font-size: 1.6em;
    margin-left: 11px;
}
.rsssl_soc i.icon-linkedin {
    font-size: 1.6em;
    margin-left: 11px;
}

.rsssl_likes_shares {
  display: block;
  margin-top: -29px;
  text-align: center;
  font-size: 0.65em;
}

.rsssl_soc .rsssl_count {
  height: 60px;
}
