<div style="clear: both"></div>
<div class="rsssl_soc" data-rsssl_post_id="[POST_ID]">
 <a class="post-share facebook" href="[FB_SHARE_URL][URL]&width&layout=standard&action=like&show_faces=true&share=true&height=80" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span></span></a>
 <a class="post-share twitter" href="https://twitter.com/share?url=[URL]" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span></span></a>
 <a class="post-share gplus" href="https://plus.google.com/share?url=[URL]" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span></span></a>
 <a class="post-share stumble" href="https://www.stumbleupon.com/submit?url=[URL]" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;"><span></span></a>
 <div style="clear: both"></div>
 </div>
